{% extends "base.html" %}

{% load static %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}



<div class="row h-100 justify-content-center align-items-center" id="load_spinner">
    <div class="col col-12 align-items-center text-center">
        <div class="spinner-border text-primary" role="status">
        </div>
    </div>
</div>

<div class="mt-5">
    {% if form.errors %}
    <div class="row">
        <span class="alert alert-danger">Ocorreu um erro ao salvar</span>
    </div>
    {% endif %}
    {% if client %}
    <form method="post" action="{% url 'update_client' client_id=client.id %}" onchange="resetIsPreFetch()"
        id="client_form" enctype="multipart/form-data">

        {% else %}
        <form method="post" action="{% url 'save_client' %}" onchange="resetIsPreFetch()" id="client_form"
            enctype="multipart/form-data">
            {% endif %}
            {% csrf_token %}
            <div class="form-group mb-2" onchange="handleMaskOnStateRegistration()">
                <select name="client_type" id="client_type" class="form-control">
                    <option value="pj" selected>Pessoa Juridica</option>
                    <option value="pf">Pessoa Fisica</option>
                </select>
            </div>

            <div class="form-group mb-2">
                <label for="fiscal_code" id="fical_code_label">Código Fiscal / CPF</label>
                <input type="text" required name="fiscal_code" id="fiscal_code" class="form-control"
                    value={{client.fiscal_code}}>
            </div>

            <div class="form-group mb-2">
                <label for="state_registration">Inscrição Estadual</label>
                <input type="text" required name="state_registration" id="state_registration" class="form-control"
                    maxlength="15" value={{client.state_registration}}>
            </div>

            <div class="form-group mb-2">
                <label for="name">Nome</label>
                <input type="text" required name="name" id="name" class="form-control" value="{{client.name}}">
            </div>

            <div class="form-group mb-2">
                <label for="fantasy_name" id="fantasy_name_label">Nome Fantasia</label>
                <input type="text" required name="fantasy_name" id="fantasy_name" class="form-control"
                    value="{{client.fantasy_name}}">
            </div>

            <div class="form-group mb-2">
                <label for="states">Estados</label>
                <select name="states" id="states" onchange="loadStateCities()" class="form-control">
                    <option value="" disabled selected>Selecione uma opção</option>
                </select>
            </div>
            <div class="form-group mb-2">
                <label for="city">Cidades</label>
                <select name="city" id="city" disabled class="form-control" required>
                    <option value="" disabled selected>Selecione uma opção</option>
                </select>
            </div>

            <div class="form-group mb-2">
                <label for="address">Endereço</label>
                <input type="text" required name="address" id="address" class="form-control" value="{{client.address}}">
            </div>

            <div class="form-group mb-2">
                <label for="neighborhood">Bairro</label>
                <input type="text" required name="neighborhood" id="neighborhood" class="form-control"
                    value="{{client.neighborhood}}">
            </div>

            <div class="form-group mb-2">
                <label for="street_number">Número</label>
                <input type="number" name="street_number" id="street_number" class="form-control" min="0" step="1"
                    value="{{client.street_number}}">
                <small id="street_number" class="form-text text-muted">
                    Deixe vazio caso seu endereço não tenha número
                </small>
            </div>

            <div class="form-group mb-2">
                <label for="born_date" id="born_date_label">Data de Nascimento / Abertura</label>
                <input type="date" required name="born_date" id="born_date" value="{{client.born_date |date:'Y-m-d' }}"
                    class="form-control">
            </div>


            {% if not client %}
            <div class="form-group mb-2">
                <label for="image_path" id="image_label">Logo / Foto</label>
                <input type="file" name="image_path" id="image_path" class="form-control" accept="image/*" required>
                <small id="street_number" class="form-text text-muted">
                    Apenas imagens
                </small>
            </div>

            {% endif %}

            <div class="form-group mb-2">
                <a href={% url 'all_client' %} class="btn btn-large btn-danger">Cancelar</a>
                <button type="submit" class="btn btn-large btn-success">Salvar</button>
                <button type="button" class="btn btn-large btn-success" onclick="exportData('client_form')">Exportar
                    dados</button>
            </div>
        </form>
</div>



<script>
    var mask = null
    {% if client %}
    var isPreFetch = true;
    {% else %}
    var isPreFetch = false;
    {% endif %}

    console.log({ isPreFetch })

    window.onload = async () => {
        $('#client_form').hide()
        handleUpdateClientTypeWhenPreFetch()
        await loadStates()
        handleClientCityWhenPreFetch()
        handleMaskOnStateRegistration()
        $('#client_form').show()
        $('#load_spinner').hide()
    }

    function handleUpdateClientTypeWhenPreFetch() {
        if (!isPreFetch)
            return;
        const clientTypeElement = document.getElementById('client_type')
        clientTypeElement.value = "{{client.client_type}}"
    }

    async function handleClientCityWhenPreFetch() {
        const stateId = "{{client.city.state.id}}"
        const cityId = "{{client.city.id}}"
        const statesSelectElement = document.getElementById('states')
        const citiesSelectElement = document.getElementById('city')
        statesSelectElement.value = stateId
        await loadStateCities(stateId)
        citiesSelectElement.value = cityId
    }

    function clientTypeLabels() {
        const clientTypeElement = document.getElementById('client_type')
        const isPessoaFisica = clientTypeElement.value === 'pf'

        const fiscalCodeLabel = document.getElementById('fical_code_label')
        const bornDateLabel = document.getElementById('born_date_label')
        const imageLabel = document.getElementById('image_label')
        const fantasynameLabel = document.getElementById('fantasy_name_label')

        if (fiscalCodeLabel)
            fiscalCodeLabel.innerHTML = isPessoaFisica ? 'CPF' : 'CNPJ'
        if (bornDateLabel)
            bornDateLabel.innerHTML = isPessoaFisica ? 'Data de nascimento' : 'Data de abertura'
        if (imageLabel)
            imageLabel.innerHTML = isPessoaFisica ? 'Foto de identificação' : 'Logo'
        if (fantasynameLabel)
            fantasynameLabel.innerHTML = isPessoaFisica ? 'Apelido' : 'Nome fantasia'
    }

    function handleMaskOnStateRegistration() {
        const clientTypeElement = document.getElementById('client_type')
        const fiscalCodeElement = document.getElementById('fiscal_code')
        if (!isPreFetch)
            fiscalCodeElement.value = ''
        const fieldMask = clientTypeElement.value === 'pf' ? '000.000.000-00' : '00.000.000/0000-00'
        if (mask)
            mask.destroy()
        mask = IMask(fiscalCodeElement, { mask: fieldMask })
        clientTypeLabels()
    }

    function resetIsPreFetch() {
        isPreFetch = false
    }

    function resetSelect(id) {
        const selectElement = document.getElementById(id)
        if (!selectElement)
            return;
        while (selectElement.children.length > 1) {
            selectElement.remove(1)
        }
    }

    async function loadStates() {
        const statesSelectElement = document.getElementById('states')
        const { data: response } = await axios.get('/locations/states')
        const states = response.data.map(item => ({ value: item.id, label: `${item.name} - ${item.code}` }))
        populateSelect("states", states)
    }

    async function loadState(stateId) {
        const { data: response, status } = await axios.get(`/locations/states/${stateId}`)
        if (!response || status !== 200)
            throw new Error('failed to fetch state')
        return response.data
    }

    async function loadStateCities() {
        const stateId = document.getElementById('states').value
        resetSelect("city")
        const { cities } = await loadState(stateId)
        const values = cities.map(city => ({ value: city.id, label: city.name }))
        const select = populateSelect("city", values)
        select.removeAttribute("disabled")
    }

    function populateSelect(selectId, values) {
        // console.log("aq?", { isPreFetch }) # TODO: verificar o prefetch para edição
        const selectElement = document.getElementById(selectId)
        if (!isPreFetch)
            selectElement.value = ""
        if (!selectElement)
            throw new Error('Invalid Select Element')
        values.forEach((value) => {
            const option = new Option(`${value.label}`, value.value, false, value?.selected)
            selectElement.append(option)
        })
        return selectElement
    }

    function exportData(formId) {
        const form = document.getElementById(formId);
        if (form && !form.checkValidity())
            return alert(
                "Valores inválidos, preencha corretamente o formulário para exportar."
            );
        const prevAction = form.action;
        form.action = "{% url 'export_data' %}";
        form.submit();
        form.action = prevAction;
    }
</script>

{% endblock %}
